.Button {
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #007bff;

  &:hover {
    opacity: 0.7;
  }
}
